{% for local in play_hosts %}
{%   for intf in hostvars[local].ansible_interfaces.values() if intf.description.find('Connection_to_') >= 0%}
{%     set remote = intf.description.partition('Connection_to_')[2] %}
{%     if remote and (remote > local or (not remote in play_hosts)) %}
{{local}} <--> {{remote}}
{%     endif %}
{%   endfor %}
{% endfor %}
